# Compiled class files
*.class
build/
dist/

# Logs
*.log

# NetBeans project files
nbproject/private/
nbproject/build-impl.xml
nbproject/genfiles.properties

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
